/* MAIN NAVIGATION */

@include media( $desktopNav ) {
	.is-sidebar-visible .c-nav-wrap {
		left: -$sidebarWidth;
	}

	.is-scrolled .c-nav-wrap .u-wrapper {
			height: 65px;
	}

}

.is-search .c-nav-wrap {
	opacity: 0;
}

.is-nav-visible .c-nav-wrap {
	left: 0;
} 

.c-nav-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 240px;
	padding: 10px;
	background: #101010;
	touch-action: manipulation;
	z-index: 2016;
	transition: left 0.5s ease, opacity 0.4s ease-in-out;
	overflow: auto;
	.u-wrapper {
		position: relative;
		max-width: none;
	}

	.o-icon-list {
		padding-left: 24px;
		color: #FFF;
	}

	.o-socials {
		padding-left: 27px;
		li {
			margin-right: 15px;
		}
	}

	/* IE transition fix */
	@include media( 10px ) {
		left: -$navWidth;
	}

	@include media($desktopNav) {
		left: 0;
		width: 100%;
		padding: 0;
		bottom: auto;
		background: RGBA(#101010,0.85);
		overflow: visible;
		.u-wrapper {
			height: 95px;
			transition: height 0.3s ease-in-out;
		}
	}
}

.c-logo-wrap {
	display: block;
	z-index: 2;
	text-align: left;
	img {
		max-width: 50px;
	}
	@include media($desktopNav) {
		position: absolute;
		height: 100%;
		left: 0;
		bottom: 0;	
		text-align: left;
		a {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 150px;
			height: 100%;
		}

		img {
			position: absolute;
			max-height: 50%;
			max-width: none;
			bottom: 25%;
		}

	}
}

.c-nav {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	margin-top: em(20);
	
	span { margin-left: 7px; }

	@include media($desktopNav) {
		text-align: right;
		margin: 0;		
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.c-nav__item {
	position: relative;
	margin-bottom: em(7);
	padding-left: em(7);
	padding-bottom: em(7);
	text-transform: uppercase;
	font-size: em(13);
	line-height: 1;
	white-space: nowrap;
	border-bottom: 1px solid #3c3c3c;
	a {
		display: block;
		color: #FFFFFF;
		letter-spacing: 0.5px;
		padding: 7px 5px;
		transition: color 0.2s linear;
		&:hover {
			color: $color-tertiary;
		}
	}

	svg path,
	svg polygon {
		fill: currentColor;
	}

	&.c-nav__item--action {
		border-bottom: 0;
		background: #070707;
	}

	@include media($desktopNav) {
		display: inline-block;
		padding: 0;
		padding-bottom: em(30);
		margin-bottom: 0;
		border-bottom: 0;
		transition: padding-bottom 0.3s ease-in-out;
		a {
			padding: 17px;
		}

		&.c-nav__item--action {
			background: none;
		}

	}


	@include media($largeNav) {
			a {
				padding-left: 25px;
				padding-right: 25px;
			}
	}
	
}

@include media($desktopNav) {
	.is-scrolled .c-nav__item {
		padding-bottom: em(9);
	}
}



.c-nav__item--action {
	.c-nav__item:not(&) + & {
		margin-top: em(15);
	}
	a {padding: 15px 10px;}


	@include media($desktopNav) {

		.c-nav__item:not(&) + & {
			margin: 0;
			margin-left: em(15);
		}

	}
}

.c-nav__item--parent>a {
	position: relative;
}

.c-nav__item--parent>a:after {
	content: "";
	display: block;
	position: absolute;
	right: 5px;
	top: 8px;
	width: 4px;
	height: 4px;
	border: 1px solid transparent;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	transform: rotate(135deg);	
	transition: border-color 0.2s linear;
	@include media($desktopNav) {
		top: 17px;
		right: 0;
	}
	@include media($largeNav) {right: 10px;}
}

.c-nav__item--parent:hover a:after {
	border-top-color: $color-tertiary;
	border-right-color: $color-tertiary;
}

.c-nav__item--parent {
	position: static;

	@include media($desktopNav) {
		position: relative;
	}

}





.c-nav__submenu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: left;
	background: RGBA(#101010,1);
	overflow: auto;
	transform: translateX(-150%);
	transition: transform 0.3s ease-in-out;
	z-index: 5;
	/* mobile active state */
	.is-submenu-active & {
		transform: translateX(0%);
	}

	.c-nav__item {
		display: block;
		white-space: normal;
		padding-bottom: 0;
		padding-left: 0;
		line-height: em(24,16);
		a {
			padding: 10px 15px;
			font-weight: 100;
		}
	}

	@include media($desktopNav) {
		position: absolute;
		top: 100%;
		bottom: auto;
		left: 0;
		width: 150px;
		max-height: 0;
		background: RGBA(#101010,0.85);
		background-image: linear-gradient(180deg, #F8D900 0px, transparent 3px);
		overflow: hidden;
		transform: translateX(0);
		transition: max-height 0.2s linear;
		.c-mav__item {
			padding-left: em(5);
		}

		.c-nav__link-back,
		.c-nav__link-parent {
			display: none;
		}

	}
}

.c-nav__link-parent {
	font-size: em(22);
}

.c-nav__submenu .c-nav__item .c-nav__link-back {
	font-size: em(22);
	padding: 7px 15px;
	padding-left: 30px;
	&:before {
		content: "";
		position: absolute;
		left: 17px;
		top: 50%;
		width: 5px;
		height: 5px;
		margin-top: -4px;
		border: 1px solid #FFF;
		border-bottom: 0;
		border-right: 0;
		transform: rotate(-45deg);
		transition: color 0.2s linear;
	}

	&:hover:before {
		border-color: $color-tertiary;
	}
}


@include media($desktopNav) {

	.c-nav__item--parent:hover {
		.c-nav__submenu {
			max-height: 1000px;
		}
	}

}



.c-nav-wrap {
	p {
		color:#FFFFFF;
		font-size: 12px;
		margin-left: 20px;
		margin-bottom: 10px;
		font-weight: 100;
	}

	a {color: #FFFFFF;}

	.o-socials {
		margin-left: 20px;
	}
}

/* MOBILE HEADER */
.c-mobile-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	text-align: center;
	background: #272727;
	z-index: 2016;
	img {
		margin-top: 10px;
		max-height: 30px;
	}
}

.c-menu-toggle {
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
	svg {
		-webkit-tap-highlight-color: transparent;
	}
	&:focus,
	svg:focus {
		outline: none;
	}
}

#rect1,
#rect2,
#rect3 {
	transform-origin: 0 50%;
	transition: transform 0.3s ease-in-out , opacity 0.3s linear;
}

.is-nav-visible {

	#rect1 {transform: rotate(-45deg) translateY(75px);}

	#rect2 {
		transform-origin: 0 50%;
		opacity: 0;
	}

	#rect3 {transform: rotate(45deg) translateY(-80px);}
}


/* OFFSCREEN SIDEBAR */
@include media( $desktopNav ) {

	.c-offscreen-sidebar {display: none;}

	.is-sidebar-visible .c-offscreen-sidebar {
		opacity: 1;
		transition-delay: 0s;
	}
}

.c-offscreen-sidebar {
	display: block;
	position: fixed;
	box-sizing: border-box;
	padding: 50px 15px;
	top: 0;
	right: 0;
	bottom: 0;
	width: $sidebarWidth;
	background: $color-secondary;
	text-align: center;
	color: #FFFFFF;
	z-index: 1;
	opacity: 0;
	transition: opacity 0s 0.5s;
	.u-wrapper {
		overflow: auto;
		height: 100%;
	}
	h3 {
		margin-top: 2em;
		font-family: $font-secondary;
		font-weight: bold;
	}

	a {
		color: #FFF;
		transition: color 0.2s ease;
		&:hover {
			color: $color-tertiary;

			svg path,
			svg circle,
			svg rect {fill: currentColor;}
		}
	}

	.u-close-button {
		position: absolute;
		top: 20px;
		right: 20px;
	}

}

.c-sidebar-logo {
	max-width: 75px;
	margin-bottom: em(30);
}

.c-sidebar-content {
	padding-left: em(25);
	text-align: left;
	font-size: em(14);
	font-weight: 100;
}

.c-offscreen-sidebar .o-icon-list {
	padding-left: em(0);
}

.c-offscreen-sidebar .o-socials {
	text-align: left;
}

/* SEARCH */
.is-search .c-search {
	z-index: 2025;
	opacity: 1;
}

.c-search {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 2% 5%;
	background: rgba(0,0,0,0.85);
	color: #FFFFFF;
	z-index: -1000;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
	.u-wrapper {
		height: 96%;
	}
	.u-close-button {
		position: absolute;
		top: 12px;
		right: 0;
		width: 25px;
		height: 25px;
	}	

	a {
		color: #FFFFFF;
	}
}

input.c-search__input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	background: transparent;
	border: 0;
	border-bottom: 1px solid $color-secondary;
	padding: 7px 0;
	padding-right: 40px;
	font-size: em(30);
	font-family: $font-primary;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 0 !important;
	&::placeholder {
		color: $color-secondary;
	}
	&:focus {
		outline: none;
	}
}

.c-search-results {
	margin-top: em(10);
	height: 90%;
	height: calc( 100% - 54px ); /* Input field font-size and padding + top margin of this div */
	overflow: auto;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}	

	li {
		margin-bottom: 5px;
		img {
			display: inline-block;
			max-width: 40px;
			float: left;
			margin-right: em(10);
		}
	}

	h4 {
		text-transform: none;
		padding-bottom: 10px;
		padding-left: 5px;
		margin-bottom: 10px;
		opacity: 0.8;
		border-bottom: 1px dashed #FFFFFF;
	}	

	a {
		display: block;
		padding: em(15);
		transition: background-color 0.2s linear;
		font-size: em(15);
		&:hover {
			background: rgba(255, 255, 255, 0.4);
		}
	}

	strong {
		display: block;
	}

	span {
		font-weight: 100;
		opacity: 0.8;
		font-size: em(13,15);
	}

}


/* PAGE CONTENT */
@include media($desktopNav) {
	.is-sidebar-visible .c-page-content {
		left: -$sidebarWidth;
	}
}

.c-page-content {
	position: relative;
	left: 0;
	transition: left 0.5s ease;
	background: #FFFFFF;
	overflow: hidden;
	z-index: 5;
}

.c-page-content--no-offset {
	margin-top: -50px;
	@include media($desktopNav) {
		margin-top: -95px; /* offset nav */
	}
}


.c-text-block {
	font-family: $font-tertiary;
	font-size: em(16);
	text-align: center;
	font-weight: 300;
	@extend .u-outset--large;
	@extend .u-wrapper--small;
	@include media($largeScreen) {
		font-size: em(18);
	}

	p {
		margin: em(20) 0;
	}
}


.c-button-link {
	position: relative;
	display: inline-block;
	padding: em(8) em(35);
	text-transform: uppercase;
	color: $color-secondary;
	border: 1px solid $color-tertiary;
	z-index: 2;
	transition: color 0.2s;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		bottom: 0;
		background-color: $color-tertiary;
		z-index: -1;
		transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
	}

	&:hover {
		color: $color-tertiary;
		font-weight: 400;
	}

	&:hover:before {
		left: 50%;
		width: 0;
	}
}

.c-button-link--rev {
	color: $color-tertiary;
	&:before {
		left: 50%;
		width: 0;
	}

	&:hover {color: $color-secondary;}

	&:hover:before {
		left: 0;
		width: 100%;
	}
}

.c-button-link--alt {
	color: $color-tertiary;

	&:hover {
		color: $color-secondary;
	}
	&:before {

		background-color: $color-secondary;
	}
}


.c-button-link--reversed {
	border-color: $color-secondary; 
	color: $color-secondary;
	background-color: transparent;
	box-shadow: 0 0px 0px RGBA($color-secondary,0.7);
	transition: box-shadow 0.3s linear;
	&:before {
		display: block;
		left: 50%;
		width: 0;
	}

	&:hover {
		color: $color-secondary;
	}

	&:hover:before {
		left: 0;
		width: 100%;
	}
}



.c-button--alt {
	border: 2px solid $color-tertiary;
	&:before {
		left: 0;
		width: 100%;
	}

	&:hover:before {
		left: 50%;
		width: 0;
	}

	&:hover {
		color: $color-tertiary;
	}
}


/* SITE FOOTER */
.c-footer { 
	padding-top: em(22);
	color: #FFFFFF;
	font-family: $font-tertiary;
	background-color: $color-secondary;

	.c-footer__title {
		font-family: $font-primary;
		font-size: em(16);
		font-weight: 700;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		margin-bottom: em(15);
	}

	a {
		color: #FFFFFF;
	}

	ul {
		padding: 0;
	}

}

.c-footer__title svg {
	display: inline-block;
	vertical-align: top;
	max-height: em(18);
	max-width: em(30);
	width: auto;
	margin-left: em(10);
}

.c-footer__block {
	box-sizing: border-box;

	@include media( em(410) ) {
		float: left;
		width: 50%;
		padding-right: em(20);
		&:nth-child(4n+3) {
			clear: left;
		}		
	}

	@include media( em(800) ) {
		width: 25%;
		&:nth-child(4n+3) {
			clear: none;
		}
	}

	.o-blog-thumb .o-blog__title {
		color: $color-tertiary;
		a {
			color: $color-tertiary;
		}
	}
}

.c-tweet {
	font-size: em(14);
	font-weight: 300;
	line-height: 1.4;
	a {
		position: relative;
		display: inline-block;
		color: $color-tertiary;
		transition: color 0.2s;
		z-index: 2;
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 0;
			background: $color-tertiary;
			transition: height 0.2s ease-in-out;
			z-index: -1;
		}

		&:hover {
			color: $color-secondary;
			&:before {
				height: 100%;
			}
		}

	}
}

.c-footer__bottom {
	font-size: em(12);
	font-weight: 300;
	margin-top: em(20);
	padding: em(15) 0;
	background: #464646;
	img {
		float: left;
		max-width: 50px;
		margin-right: 30px;
	}
}

.c-footer__bottom-social {
	float: right;
	.o-socials {margin-top: em(10);}
	svg {max-width: em(25);}
}

.c-footer__copy {
	margin-top: em(60);
	clear: both;
	@include media( $mediumBreakpoint ) {
		clear: none;
		margin-top: em(25);
	}
}


.c-date {
	font-family: $font-tertiary;
	padding-right: em(10);
	margin-right: em(10);
	border-right: 1px solid rgba($color-secondary,0.5);
}

.c-date__day {
	float: left;
	font-size: em(38);
	line-height: em(16);
	margin-right: em(2);
	color: $color-tertiary;
}

.c-date__month {
	float: left;
	text-transform: uppercase;
	font-size: em(14);
	line-height: 1.4;
	letter-spacing: 0.7px;
	span {
		display: block;
	}
}

.c-comment {
	padding-left: 20px;
	background: url('../img/svg/comment.svg') no-repeat left center ;
	background-size: 14px;
}


.c-contact-f {
	button {
		display: inline-block;
		margin-top: em(30);
		padding: em(15) em(55);
	}

	.u-1_2:nth-of-type(2n+1) {
		clear: both;
	}
}

.c-field-wrap {
	position: relative;
	padding-right: em(25);
	margin-bottom: em(7);
	label {
		display: block;
		position: absolute;
		transform: scale(1);
		transition: top 0.2s, transform 0.2s, opacity 0.2s linear;		
	}
	input {
		padding-left: 0;
		width: 100%;
		background: transparent;
		border-bottom: 1px solid rgba($color-secondary,0.2);
		&:focus {outline: none;border-color:transparent;border-bottom: 1px solid rgba($color-secondary,0.2);}
	}
}

.c-textarea-wrap {
	padding-right: em(25);
	padding-top: em(35); 
	clear: both;
	textarea {
		background: transparent;
		border: 0;
		min-height: 100px;
		width: 100%;
		border-bottom: 1px solid rgba($color-secondary,0.2);
		&:focus {
			border-color: transparent;
			border-bottom: 1px solid rgba($color-secondary,0.2);
			outline: none;
		}
	}	
}


label {
	opacity: 1;
	.c-field-wrap & {
		top: em(20);
	}

	.is-not-empty & {
		opacity: 0;
	}

}

.c-contact-option {
	position: relative;
	font-weight: 300;
	a {
		color: $color-secondary;
	}
}

.c-contact-option h3 {
	font-family: $font-tertiary;
	font-weight: 700;
	letter-spacing: 0.15px;
}

.c-contact-option p {
	letter-spacing: 0.5px;
}

.c-contact-option img {
	max-width: 100px;
}


.c-gmap {
	height: em(300);
}




/* BLURB blocks */
.c-blurb {
	box-sizing: border-box;
	text-align: left;
	font-size: 14px;
	font-size: 0.8rem;
	clear: both;
	padding: em(30);
	margin-top: em(40);
	margin-bottom: em(40);
	border: 2px solid $color-tertiary;

	h1,h2,h3,h4 {
		&:first-of-type {
			margin: 0;
		}
	}

	ul {
		margin: em(10) 0;
		padding: 0;
	}

	li {
		position: relative;
		list-style-type: none;
		margin-bottom: em(10);
		padding-left: em(17);
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -2px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $color-tertiary;
		}
	}
}




/* VIDEO FRONT ELEMENT */
.c-video-front {
	position: relative;
	iframe {
		height: inherit;
		border: 0;
	}
	img {
		cursor: pointer;
	}	
}

.c-video-front__title {
	position: relative;
	text-align: center;
	font-size: em(14);
	font-weight: 400;
	padding: em(15) em(25);
	margin: 0 em(10);
	margin-top: em(-35);
	background: $color-tertiary;
	transition: margin-top 0.3s $slow-start-quick-end;
	z-index: 2;
	a {
		color: $color-secondary;
	}

	.is-video & {
		margin-top: 0;
	}

}

/* Feature Content */
.c-feature-content {
	padding: em(20);
	margin-top: em(30);
	margin-bottom: em(50);
	background-color: #F5F5F5;
	.o-page-content & {
		h1,h2,h3,h4,h5,h6 {
			text-transform: uppercase;
			font-family: $font-secondary;
			&:first-of-type {
				margin-top: 0;
			}
		}
	}
}


/* Refer to progressive.scss stylesheet */
.c-feature-content--alt {
	background-color: $color-tertiary;
	margin-top: 0;
	margin-bottom: em(5);
	font-weight: 100;
	h1,h2,h3,h4 {
		&:first-of-type {
			margin-top: 0.3em;
			margin-bottom: 0;
		}
	}

	img {
		max-width: 60px;
		margin: auto;
	}
}