/* Grids */
.o-insta-grid {
	display: flex;
	flex-wrap: wrap;
	padding: 8px 8px 0 0;
}

.o-insta-grid__item {
	flex: 1 1 50px;
	float: left;
	padding: 0 8px 8px 0;
}

.o-insta-grid--by-three {
	.o-insta-grid__item {flex: 1 1 75px;}
}

/* LISTS */
.o-icon-list {
	text-align: left;
	font-size: rem(13);
	list-style-type: none;
}

.o-list-item {
	padding: 5px 3px 5px 25px;
	margin-bottom: 0.2em;
	background-repeat: no-repeat;
	background-position: 0px 6px;
	background-size: 16px;
	font-weight: 100;
	p {margin: 0;}
}

.o-list-table {
	list-style-type: none;
	padding: 0;

	.o-list__item {
		display: inline-block;
		border: 1px solid $color-secondary;
		border-right: 0;
		margin: 0;
		padding: 5px;
		&:last-of-type {
			border-right: 1px solid $color-secondary;
		}
	}

	svg {
		vertical-align: middle;
		width: 17px;
		height: 17px;
		/*height: auto; was causing issue in IE */
		fill: currentColor;
		* {
			fill: currentColor;
		}
	}
}

@include media( $mediumBreakpoint ) {

	.o-list__item {
		background-color: transparent;
		transition: background-color 0.3s;
		svg * {
			fill: $color-secondary;
			transition: fill 0.3s;
		}
	}

	.o-list__item:hover {
		background-color: $color-secondary;
		svg * {
			fill: $color-tertiary;
		}
	}

}


.o-cat-list {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	a {
		color: $color-secondary;
		transition: color 0.3s;
	}
	a:hover { color: $color-tertiary; }

	li {
		padding: em(12) 0;
		border-bottom: 1px solid rgba($color-secondary,0.3);
	}
}

.o-cat-list__count {
	float: right;
}


.o-socials {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 2em;
}

.o-socials__item {
	display: inline-block;
	margin-right: 20px;
	overflow: visible;
	svg * {
		transition: fill 0.3s linear;
	}

	&:hover svg *{
		fill: $color-tertiary;
	}
}

.o-simple-list {
	list-style-type: none;
	padding: 0;
	li {margin: em(12) 0;}
}

/* SLIDERS */

.o-main-slider {
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-height: 100vh;
	overflow: hidden;
	&.slick-initialized {max-height: none;}
}


.o-main-slider__item {
	position: relative;
	min-height: em(400);
	height: 100vh;
	background: no-repeat center;
	background-size: cover;
	color: #FFFFFF;
	overflow: hidden;
	&:focus {outline: none;}
}

img.o-main-slider__title {
	display: none;
	position: absolute;
	bottom: em(22);
	width: 100%;
	.slick-initialized & {
		clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
		transition: clip-path 1.5s 1s $slow-start-quick-end;
	}

	.slick-active & {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}

	@include media( $headerLarge ) {
		display: block;
	}
}

svg.o-main-slider__title {
	display: none;
	opacity: 1;
	position: absolute;
	bottom: em(-70);
	width: 100%;	
	@include media( $headerLarge ) {
		display: block;
	}	
}

img.o-main-slider__title-small {
	display: block;
	width: em(600);
	margin: em(150) auto em(40);
	margin: 50vh auto em(40);
	@include media( $headerLarge ) {
		display: none;
	}	
}

.o-main-slider__content {
	margin: auto;
	width: 90%;
	font-size: em(18);
	font-weight: 300;
	.slick-initialized & {
		transform: translateY(200px);
		opacity: 0;
	}
	.slick-active & {
		transform: translateY(0);
		opacity: 1;
	}
	@include media( $headerLarge ) {
		position: absolute;
		top: calc(96vh - 8vw - 5px );
		left: 10%;
		width: 30%;
		transition: transform 0.5s 2.5s ease-in-out, opacity 0.4s 2.5s;
	}	
}

.o-main-slider__item--alt {
	/* Keep red arrows at this position */
	background-position: top left;
	.o-main-slider__title {
		bottom: em(-64);
		transition-timing-function: $quick-start-slow-end;
	}

	.o-main-slider__content {
		left: auto;
		right: 10%;
	}
}

/* Small slider */
.o-small-slider {
	overflow: hidden;
}

.o-small-slider__item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 20%;
	margin: 0 em(15);
	img {
		vertical-align: middle;
		margin: auto;
		max-height: 90px
	}

	&.slick-slide {
		float: none;
		display: inline-block;
	}

	&:focus {
		outline: none;
	}
}



/* Content blocks */

.o-featured {
	flex: 0 1 auto;
	overflow: hidden;
	
}

.o-featured-content {
	flex: 0 1 auto;
	position: relative;
	box-sizing: border-box;
	min-height: em(150);
	padding: em(20);
	font-family: $font-tertiary;
	font-weight: 300;
	color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	/* Attempt to fix 1px bug in iPhone 5 safari */
	clear: both;
	
	@include media( em(800) ) {
		clear: none;
		padding: em(20) em(40);
	}

	&:before {
		clear: both;
		content: "";
		@include coverposition();
		background: linear-gradient(to top, rgba(0,0,0,0.62) 30% , transparent 100%);
	}		

	.o-content-title {
		color: $color-tertiary;
		margin-bottom: em(10);
	}

	.o-content-wrap {
		flex: 0 1 auto;
		position: relative;
		box-sizing: border-box;
		font-size: em(17);
		padding-right: em(30);
		margin-top: em(0);
		z-index: 2;
	}

	.o-read-more {
		position: absolute;
		font-family: $font-primary;
		bottom: em(40);
		padding: em(7) em(15);
		border: 1px solid $color-tertiary;
		font-size: em(14);
		text-transform: uppercase;
		cursor: pointer;
		transition: color 0.2s;
		z-index: 2;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			width: 0;
			background-color: $color-tertiary;
			transition: left 0.2s ease-in-out, width 0.2s ease-in-out;
			z-index: -1;
		}

		&:hover {
			color: $color-secondary;
		}

		&:hover:before {
			left: 0;
			width: 100%;
		}

		@include media( em(800) ) {
			right: em(40);
		}
	}

}


/* - look at progressive */
.o-square-block {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 100%;
	background: #EBEBEB;
	transition: all 0.3s;
	cursor: pointer;
	overflow: hidden;
	&.is-active {
		background-color: $color-tertiary;
	}

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;
		background-color: $color-tertiary;
		border-radius: 50%;
		transition: all 0.3s ease-in-out;
	}

	/* No rollover for mobiles */
	@include media( $mediumBreakpoint ) {
		&:hover:before {
			top: -50%;
			left: -50%;
			width: 200%;
			height: 200%;
		}
	}

	.o-content {
		@include coverposition();
		padding: em(5);
		text-align: center;
		font-size: em(14);
		@include media(em(800)) {
			font-size: em(16);
			padding: em(5) em(15);
		}
		@include media($largeScreen) {
			font-size: em(19);
		}	
		@include media ( $veryLargeScreen ) {padding: em(5);}	
	}

	.o-content__title {
		font-size: em(15);
		margin: em(10) 0;
		@include media ( $desktopNav ) {font-size: em(12);}
		@include media( $insanelyLargeScreen ) {font-size: em(16);}		
		a {
			color: $color-secondary;
		}
	}

	img {
		display: block;
		height: 50px;
		margin: 0;
		margin-bottom: 10px;
		width: auto;
		@include media ( $mediumBreakpoint ) {height: 70px;}
		@include media ( $desktopNav ) {height: 50px;margin-bottom: 3px;}
		@include media( $insanelyLargeScreen ) {height: 85px;margin-bottom: 10px;}			
	}
}

.o-square-blocks--large img {
	@include media( $desktopNav  ) {height: 80px;margin-bottom: 10px;}	
}


@include media ( $mediumBreakpoint ) {
	.o-square-blocks--alt .o-square-block {

		.o-content,img {transition: opacity 0.3s linear;}

		&:hover {
			.o-content,img {opacity: 0;}
			.o-square-block__subcontent {transform: translateY(-50%);}
		}
	}

}


.o-square-block__subcontent {
	@include coverposition( 10px );
	top: 50%;
	bottom: auto;
	text-align: center;
	font-size: em(11);
	transform: translateY(600px);
	transition: transform 0.4s ease-in-out;
	&:hover {transform: translateY(-50%);}


	@include media( $mediumBreakpoint ) {
		@include coverposition( 12px );
		top: 50%;
		bottom: auto;		
		font-size: em(12);
	}

	@include media( $headerLarge ) {
		@include coverposition( 20px );
		top: 50%;
		bottom: auto;
		font-size: em(14);
	}

	@include media( $largeNav ) {
		font-size: em(18);
	}
}



/* GRID - our work */

.o-grid {
	margin: 0 auto;
	padding: 0;
	padding-bottom: 3px;
	list-style-type: none;
	@extend .u-no-side-offset;
}

/* PROGRESSIVE STYLES */
.g-item {
	position: relative;
	@extend .u-1_4;
	cursor: pointer;
	outline: none;
	.g-content {
		background-position: center;
		background-size: cover;
		height: 180px;
	}
}

.g-item.g-w2 {
	@extend .u-1_2;
}

.g-item.g-h2 .g-content {
	height: 366px;
}

@media ( max-width: 550px ) {
	.g-item,
	.g-item.g-w2 {
		width: 100%;
	}
}

@include media( $mediumBreakpoint ) {
	.g-item .g-content {height: 200px;}
	.g-item.g-h2 .g-content {height: 406px;}	
}

@include media( $desktopNav ) {
	.g-item .g-content {height: 225px;}
	.g-item.g-h2 .g-content {height: 456px;}	
}

@include media( $largeScreen ) {
	.g-item .g-content {height: 260px;}
	.g-item.g-h2 .g-content {height: 526px;}	
}

@include media( $veryLargeScreen ) {
	.g-item .g-content {height: 300px;}
	.g-item.g-h2 .g-content {height: 606px;}	
}

@include media( $insanelyLargeScreen ) {
	.g-item .g-content {height: 400px;}
	.g-item.g-h2 .g-content {height: 806px;}	
}

@include media( $andrewsUsualScreen ) {
	.g-item .g-content {height: 520px;}
	.g-item.g-h2 .g-content {height: 1048px;}	
}

.g-item:hover {
	.g-detail {opacity: 1;transition-delay:0s;}
	.g-detail__title {transform: translateX(0);}
	.g-detail__meta {transform: translateX(0);}
}

.g-detail {
	@include coverposition(10px);
	opacity: 0;
	text-align: right;
	padding: em(15);
	color: #333;
	background: rgba(255,255,255, 0.8);
	transition: opacity 0.25s 0.25s;
	overflow: hidden;
}

.o-grid--alt {
	.g-detail {
		background: RGBA($color-tertiary, 0.8);
	}

	.g-item .g-content {
		background-position: top;
	}
}

.g-detail__title {
	font-size: em(15);
	margin-top: 0;
	margin-bottom: em(7);
	text-transform: uppercase;
	transform: translateY(120px);
	transition: transform 0.4s 0.1s ease;

	@include media($mediumBreakpoint) {
		font-size: em(15);
	}
	@include media($desktopNav) {
		font-size: em(18); 
	}		
	@include media($largeNav) {
		font-size: em(22); 
	}		
}

.g-detail__meta {
	display: none;
	font-size: em(12); 
	transform: translateY(100px);
	transition: transform 0.4s 0.1s ease;
	@include media($desktopNav) {
		display: block;
	}	
	@include media($largeNav) {
		font-size: 14px;
	}	
	@include media(1300px) {
		font-size: 16px;
	}	

}

@include media($mediumBreakpoint) {
	.g-w2 .g-detail__meta {
		display: block;
	}
}	

.g-detail__view {
	position: absolute;
	top: em(15);
	right: em(15);
	width: em(30);
	height: em(30);
	background: url('../img/svg/search_dark.svg') no-repeat center;
	background-size: em(20);
	border: 1px solid #333;
	z-index: 5;
	transition: background-color 0.2s;
	&:hover {
		background-color: RGBA(#333,0.2);
	}
}


/* TEAM */
/* See progressive stylesheet */
.o-grid--large {
	.g-content {
		position: relative;
		background-position: center;
		height: 456px;
	}
	.g-item {
		width: 100%;
		@extend .u-size-outset;
	}
}

@include media( $smallBreakpoint ) {
	.o-grid--large {
		.g-item {width: 50%;}
	}
}

@include media( em(900) ) {
	.o-grid--large .g-item {
		width: 25%;
	}

	.o-grid--large .g-item.g-w2 {
		width: 40%;
		width: calc(50%);		
	}

	.o-grid--large .g-item.g-w2 .g-detail {
		right: auto;
		width: 40%;
		width: calc(50% - 50px);
	}

}


/* Billboard */
.o-billboard {
	padding: em(120) em(20);
	color: #FFFFFF;
	text-align: center;
	background-size: cover;
}

.o-billboard__subtitle {
	text-transform: uppercase;
	color: $color-tertiary;
	font-weight: 700;
	margin-bottom: em(5);
	-webkit-font-smoothing: antialiased;
}

.o-billboard__title {
	margin: 0;
	margin-bottom: em(10);
	font-family: $font-secondary;
	font-size: em(25);
}

.o-billboard__content {
	font-weight: 300;
}

.o-billboard--alt {
	padding: em(80) em(20);
	background-color: $color-tertiary;
	color: $color-secondary;
}


.o-billboard--header {
	padding: em(80) em(20);
	min-height: em(100);
	font-family: $font-tertiary;
	.o-billboard__title {
		font-family: $font-tertiary;
		color: $color-tertiary;
	}
}


.o-billboard--blog {
	position: relative;
	padding: em(180) em(50) em(140);
	min-height: em(100);
	font-family: $font-tertiary;
	text-align: left;
	background-position: center;
	overflow: hidden;
	.o-billboard__title {
		font-family: $font-secondary;
		font-size: em(35);
		margin-bottom: 0;
		color: $color-tertiary;
		@include media($smallBreakpoint) {font-size: em(50);}
		@include media($headerLarge) {font-size: em(60);}
	}	

	.o-billboard__content {
		font-size: em(20);
	}

	&:before {
		content: "";
		@include coverposition();
		background: rgba(0,0,0,0.6);
	}
}


.o-billboard--blog-large {
	position: relative;
	box-sizing: border-box;
	padding: em(180) em(50) em(140);
	min-height: em(600);
	min-height: 80vh;
	font-family: $font-tertiary;
	text-align: left;
	background-position: center;
	overflow: hidden;	
}


.o-billboard--header-alt {
	padding: em(45) em(20);
	background-color: $color-tertiary;
	color: $color-secondary;
	overflow: hidden;
}

.o-billboard__image {
	margin-bottom: em(15);
}


.o-billboard--simple {
	padding: em(50) em(30);
	color: $color-secondary;
}






.o-blog-page {

}

.o-blog-page__title {
	font-size: em(30);
	font-weight: 700;
	margin-top: 0;
	-webkit-font-smoothing: antialiased;
}

.o-blog-page__content {
	font-family: $font-primary;
	font-weight: 100;
	font-size: em(14);
	line-height: 1.55;
	letter-spacing: 0.5px;
	ul {
		list-style-position: inside;
	}

	/* Set offset on floated images */
	img[style*="float: left"],
	img[style*="float:left"] {
		margin-right: em(15);
	}

	img[style*="float: right"],
	img[style*="float:right"] {
		margin-left: em(15);
	}	


	.left-image,
	img[style*="float: left"],
	img[style*="float:left"]	 {
		@include media($smallBreakpoint) {
			float: left;
			margin-right: em(15);
			width: 50%;
		}

		@include media($mediumBreakpoint) {width: 40%;}
	}

	.right-image,
	img[style*="float: right"],
	img[style*="float:right"] 	 {
		@include media($smallBreakpoint) {
			float: right;
			margin-left: em(15);
			width: 50%;
		}

		@include media($mediumBreakpoint) {width: 40%;}
	}	

}

.o-blog-page .u-drop-cap {
	position: relative;
	display: inline-block;
	float: left;
	font-size: 35px;
	min-width: 50px;
	height: 50px;
	margin: 5px 5px 0 0;
	line-height: 50px;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 100%;
	background: $color-tertiary;
	color: $color-secondary;	
}

/* Blog image slider */
.o-blog__fig {
	max-height: em(500);
	overflow: hidden;
}



/* PAGE CONTENT STYLES */
.o-page-content {
	font-weight: 100;
	letter-spacing: 0.2px;
	h1,h2,h3,h4,h5,h6 {
		font-family: $font-tertiary;
		font-weight: 600;
		letter-spacing: 0px;
		text-transform: none;
		text-align: center;
		span {
			display: block;
			text-align: left;
			font-weight: 300;
			-webkit-font-smoothing: antialiased;
		}
	}

	dl {
		font-size: 14px;
		font-size: 0.8rem;
		margin: 0;
		img {
			display: inline-block;
			margin: 0 5px;
			vertical-align: middle;
		}

		dt:first-of-type {
			margin-top: 0;
		}
	}

	dt {
		font-weight: 600;
		margin-top: em(25);
	}

	dd {
		margin: 0;
		margin-top: em(5);
		margin-bottom: em(10);
	}

	p {
		margin-bottom: em(20);
	}

	blockquote {
		max-width: em(400);
	}
}




/* Blog gallery */
.o-post-gallery {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		position: relative;
		box-sizing: border-box;
		padding: 0 10px 10px 0;

	}



	@include media( $headerLarge ) {

		li {
			float: left;
			width: 33.3333%;
		}

		li:first-of-type,
		li:nth-of-type(2) {
			width: 50%;
		}

	}

}

.o-post-gallery__item {
	height: 200px;
	background-size: cover;
	background-position: center;

	@include media( $mediumBreakpoint ) {
		height: 400px;
	}

	@include media( $headerLarge ) {
		height: 600px;
	}
}





/* BLOG LIST */
.o-blog-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.o-blog-thumb {
	position: relative;
	display: block;
	font-size: em(14);
	margin-bottom: em(20);
	line-height: 1;
	clear: both;
	overflow: hidden;
	img {
		display: block;
		float: left;
		margin-right: em(10);
		max-width: 40px;
	}

	.o-blog__title {
		display: block;
		color: $color-secondary;
		margin-bottom: em(5);
		a {
			color: $color-secondary;
		}
	}

	.o-blog__meta {
		font-family: $font-tertiary;
		font-size: em(12,14);
	}

	.o-blog-thumb__img {
		float: left;
		width: 50px;
		height: 50px;
		margin-right: 10px;
		overflow: hidden;
	}

	.o-blog-thumb__img img { 
		min-width: 50px;
		transform: scale(1) translate(0,0);
		transition: transform 0.45s;
	}

	&:hover .o-blog-thumb__img img {
		transform: scale(1.1) translate(0px,0px);
	}

}



/* Blog post */
.o-blog {
	padding: em(20) em(20) em(30);
	margin-bottom: em(40);
	background: #FFFFFF;
	box-shadow: 0 0px 4px rgba(0,0,0,0.1);
	transition: box-shadow 0.35s;
	&:hover {
		box-shadow: 0 2px 20px RGBA($color-secondary,0.2);
	}


	.o-blog__title {
		font-family: $font-tertiary;
		font-size: em(38);
		margin: 0;
		line-height: 1;
		padding-top: 5px;
		a {
			color: $color-secondary;
			transition: color 0.3s;
		}	

		a:hover {
			color: $color-tertiary;
		}	
	}	

	.o-blog__fig img {
		width: 100%;
		transform: scale(1.0);
		transition: 1s ease-in-out;
		&:hover {
			transform: scale(1.06);
		}
	}
}


.o-blog__fig {

	.slick-arrow {
		position: absolute;
		top: em(20);
		right: em(20,14);
		width: em(40,14);
		height: em(40,14);
		padding: 0;
		border: 2px solid #FFF;
		border-right: 0;
		background: transparent url('../img/svg/arrow-left.svg') no-repeat center;
		background-size: 20px;
		text-indent: 200px;
		white-space: nowrap;
		overflow: hidden;
		z-index: 10;
		&:focus {outline:none;}

		&:hover {
			background-color: $color-tertiary;
		}
	}

	.slick-prev {
		right: em(64);
	}

	.slick-next {
		transform: rotate(180deg);
	}


}



.o-blog__header {
	margin-bottom: em(15);

	.c-date {
		float: left;
		margin-top: em(9);
	}
}

.o-blog__meta {
	font-size: em(14);
	font-family: $font-secondary;
	font-weight: 300;
	margin: em(10) 0 em(20);
	clear: both;
	overflow: hidden;
	.c-author {
		float: left;
	}

	.c-share {
		float: right;
		margin-left: em(25);
	}

	a {
		color: $color-secondary;
	}
}

.o-blog .o-blog__meta {
	.c-author {
		padding-top: em(8);
		margin-left: 1em;
	}

	.o-meta-action {
		padding-top: em(8);
	}

}

.o-meta-action {
	float: right;
}

.o-blog__content {
	font-weight: 300;

	figure {
		padding: 10px;
		margin: 10px;
		background: #EBEBEB;
	}

	figcaption {
		padding-top: 5px;
		font-style: italic;
	}
}

/* blog paging */
.o-blog-paging {
	margin: em(40) 0;
	color: $color-tertiary;
	background: #EBEBEB center;
	background-size: cover;
	overflow: hidden;

}

.o-blog-paging__link {
	position: relative;
	top: 3px;
	font-family: $font-secondary;
	color: $color-secondary;
	text-transform: uppercase;
	font-weight: 300;
	transition: color 0.33s;
}

.o-blog-paging__preview {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: em(10);
	vertical-align: middle;
	max-width: em(75);
}


.o-blog-paging__prev,
.o-blog-paging__next {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		width: 10px;
		height: 10px;
		margin-top: -5px;
		transform: rotate(-45deg);
	}

	&:hover .o-blog-paging__link {
		color: $color-tertiary;
	}
}

.o-blog-paging__prev {
	float: left;
	padding-left: em(30);
	&:before {
		left: em(20);
		border-top: 1px solid #000;
		border-left: 1px solid #000;
	}
}

.o-blog-paging__next {
	float: right;
	padding-right: em(30);
	margin-left: auto;
	&:before {
		right: em(20);
		border-right: 1px solid #000;
		border-bottom: 1px solid #000;
	}
}


/* blog-related */
.o-blog-related-list {
	padding: em(20) em(10);
	margin: em(40) 0;
	border: 1px solid #EBEBEB;
	overflow: hidden;
	h4:first-of-type {
		margin-top: 0;
		margin-bottom: em(10);
		margin-left: em(15);
	}
}

.o-blog-related {
	position: relative;
	overflow: hidden;
	padding: em(15);
	&:hover {
		.o-blog-related__fig img {
			transform: scale(1.2);
		}
	}
}

.o-blog-related__fig {
	max-width: em(157);
	height: 80px;
	overflow: hidden;
	img {
		width: 100%;
		transform: scale(1);
		transition: transform 0.4s linear;		
	}

}

.o-blog-related__title {
	margin: em(10) 0 0;
	font-size: em(16);
	a {
		display: block;
		max-width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		color: $color-secondary;
		transition: color 0.3s ease;
	}
}

.o-blog-related__meta {
	margin-top: 0;
	color: #bbb;
	font-size: em(12);
	letter-spacing: 2px;
}

.o-blog-related:hover a {
	color: $color-tertiary;
}

/* Contents meta */
.o-content-meta {
	ul {
		list-style-type: none;
		padding: 0;
	}

	a {
		color: $color-secondary;
	}
}

.o-content-meta--alt {
	li {
		padding-top: em(10);
		padding-bottom: em(10);
		border-bottom: 1px solid RGBA($color-secondary,0.2);
	}

	.o-list-item {
		background-position: 0px 9px;		
	}
}

/* FORM */
.o-form {
	input,
	button { 
		width: 100%;
	}

	input {
		color: #FFFFFF;
		font-weight: 100;
	}
}

.o-flat-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	a {text-decoration: underline;}
	li {
		display: inline-block;
		margin-right: em(15);
	}
}

.o-form--small {
	label {
		display: none;
	}
}

@include media(em(410)) {
	.o-form--small {
		max-width: 200px;
	}
}


/* PROFILES */
.o-profile {
	text-align: center;
	font-size: em(11);
	font-family: $font-tertiary;
	color: $color-secondary;
	overflow: auto;
	a {
		color: $color-secondary;
	}
}

.o-profile-label {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: em(22);
	font-family: $font-secondary;
	color: #FFFFFF;
	opacity: 1;
	transition: opacity 0.3s;
}

.g-item:hover .o-profile-label {opacity: 0;}

.g-content:hover .o-profile-label {opacity: 0;}

.o-profile__title {
	font-family: $font-secondary;
	margin-bottom: 0;
}

.o-profile__role {
	display: inline-block;
	position: relative;
	padding-bottom: 15px;
	&:after {
		content: "";
		position: absolute;
		bottom: 5px;
		left: 50%;
		height: 2px;
		width: 25px;
		border-top: 1px solid $color-secondary;
		border-bottom: 1px solid $color-secondary;
		transform: translateX(-50%);
	}
}

.o-profile__meta {
	margin-top: em(30);
}



.o-profile__bio {
	font-size: em(13,11);
	font-weight: 300;
}

/* TRANSITION EFFECT */
.o-profile {
	opacity: 0;
	transform: translateY(70px);
	transition: opacity 0.2s 0.3s, transform 0.4s ease-in-out;
}

.o-profile__role {
	transform: translateY(-50px);
	transition: transform 0.4s ease-in-out;
}

.g-item:hover,
.g-content:hover {
	.o-profile {
		opacity: 1;
		transform: translateY(0px);
		transition-delay: 0s;
	}

	.o-profile__role {
		transform: translateY(0px);
	}
}

/* SIDEBAR */
.o-sidebar {
	h4:first-of-type {
		margin-top: 0;
	}
	h4 {
		font-family: $font-secondary;
		margin: em(30) 0 em(10);
	}
}


/* CONTACT PAGE */
.o-contact-wrap {
	padding: em(30) em(20);
	background: #F5F4F5;
}


.o-contact-detail {
	font-weight: 300;
	padding: em(30) em(20);
	background: $color-tertiary;
	a {
		color: $color-secondary;
	}

	.o-socials {
		text-align: center;
		svg * {
			fill: $color-secondary;
		}
	}
}


/* SIMPLE CONTACT FORM */
.o-simple-form {
	padding: em(20);
	background-color: lighten($color-secondary, 63%);

	@include mediaMax($desktopNav) {
		width: 100%;
	}

	input {border-color: $color-secondary;}
}



/* CHRISTMAS PRESENTS */
.o-present {
	position: relative;
	font-size: 0.75em;
	z-index: 2;

	@include media($headerLarge) {
		font-size: 0.9em;
	}

	@include media($desktopNav) {
		font-size: 1em;
	}
}

.o-present__content {
	padding: 26% 14% 14%;

	@include media($tinyBreakpoint) {
		padding: 19% 14% 12%;
	}

	@include media($headerLarge) {
		padding: 16% 16% 10%;
	}
}

.o-present__bg {
	@include coverposition();
	width: 100%;
	height: 100%;
	max-width: none;
	z-index: -1;
}

.o-present--blue .o-present__content {
	padding: 16% 16% 10%;
}

.o-present--red {

	.o-present__content {
		padding-left: 30%;
		color: #FFFFFF;
	}
}

.o-present--yellow .o-present__bg {
	left: -6px;
	width: calc(100% + 6px);
}


