

.o-square-block .o-content {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.o-square-block .o-content__title {
	width: 100%;
}

.o-content-meta {
	display: flex;
	flex-wrap: wrap;
	div {
		flex: 1 0 180px;
	}
}

.g-detail {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

/* Team page aligning */
.o-grid--large {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.o-grid--large .g-detail {
	justify-content: center;
}

/* Fixing 1px bug in safari */
@include media($smallBreakpoint) {
	.p-flexwrap {
		display: flex;
		flex-wrap: wrap;
	}
}

.p-flex-center {
	display: flex;
	align-items: center;
}


.c-feature-content--alt {
	display: flex;
	flex-wrap: wrap;
	&>div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
	}

	&>div:nth-of-type(2n) {
		flex-direction: row;
		flex-wrap: wrap;
		* {
			flex: 0 1 auto;
		}
	}
}

/* BLOG */
.o-blog__header {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}


.c-date {
	flex: 0 0 auto;
}

@include media( $mediumBreakpoint ) {
	.o-blog__header {
		flex-wrap: nowrap;
	}
}

/* Blog paging */
.o-blog-paging {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

