/*
@font-face {
  font-family: 'OpenSans-Regular';
  src: 	url("/assets/fonts/OpenSans-Regular.woff2") format("woff2"),
  		url("/assets/fonts/OpenSans-Regular.woff") format("woff"),
  		url("/assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: 	url("/assets/fonts/OpenSans-Bold.woff2") format("woff2"),
  		url("/assets/fonts/OpenSans-Bold.woff") format("woff"),
  		url("/assets/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src:  url("/assets/fonts/OpenSans-Light.woff2") format("woff2"),
      url("/assets/fonts/OpenSans-Light.woff") format("woff"),
      url("/assets/fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

*/
$font-primary : 'Open Sans', sans-serif;
$font-secondary : 'Oswald', Arial, sans-serif;
$font-secondary : 'Fjalla One', Arial, sans-serif;
$font-tertiary : 'Open Sans', sans-serif;


/* White */
$color-primary: #FFFFFF;
/* Gray */
$color-secondary : #4d4f52;
/* Yellow */
$color-tertiary : #F8D900;

/* Timing functions */
$slow-start-quick-end : cubic-bezier(.86,.28,.56,.56);
$quick-start-slow-end: cubic-bezier(.29,.98,.67,.2);


/* SIZES */
$sidebarWidth : 350px;
$navWidth : 260px;

/* BREAKPOINTS */
$andrewsUsualScreen : em(2100);
$insanelyLargeScreen : em(1600);
$veryLargeScreen : em(1380);
$largeScreen : em(1240);
$largeNav : em(1200);
$desktopNav : em(1024);
$headerLarge : em(900);

/* For sizing classes */
$mediumBreakpoint :  em(750);
$smallBreakpoint :  em(500);
$tinyBreakpoint : em(300);
