.u-wrapper {
	position: relative;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	&:after {
		content:"";
		display: block;
		clear: both;
	}
}

.u-bg-snow {
	background-color: #F5F4F5;
	&.c-page-content {
		background-color: #F5F4F5;
	}
}


.u-brand-bg {
	padding-bottom: 200px;
	padding-bottom: 30%;
	background-image: url('../img/svg/brand-bg.svg');
	background-repeat: no-repeat;
	background-position: 70% bottom;
	background-size: 200%;
	overflow: visible !important;
	/* SIZE Specified in SVG background too */
	@include media(800px) {
		padding-bottom: 17vw;
		background-size: contain;
		background-position: center bottom;
	}
}

.u-clear:after {
	content: '';
	display: block;
	clear: both;
}

.u-t\&c {
	font-size: 10px;
}

.u-full-element-link {
	@include coverposition();
}

.u-wrapper--small,
.u-wrapper--med {
	@extend .u-wrapper;
}

@include media($mediumBreakpoint) {
	.u-wrapper--small {
		width: 50%;
	}

	.u-wrapper--med {
		width: 75%;
	}
}

.u-text-center {
	text-align: center;
}

.u-element-center,
.u-element-center[class*="u-1"],
.u-element-center[class*="u-2"],
.u-element-center[class*="u-3"] {
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.u-outset {
	margin-top: 2em;
	margin-bottom: 2em;
}

.u-outset--large {
	@extend .u-outset;
	margin-top: 4em;
	margin-bottom: 4em;
}

.u-light-font {
	font-family: $font-tertiary;
}

.u-small-title {
	font-size: 14px;
	font-family: $font-secondary;
	text-transform: uppercase;
	font-weight: bold;
	margin: em(10) 0;
}

/* Icon */
.u-icon--location {
	background-image: url('../img/svg/location.svg');
}

.u-icon--phone {
	background-image: url('../img/svg/phone-call.svg');
}

.u-icon--mail {
	background-image: url('../img/svg/email.svg');
}

.u-icon--link {
	background-image: url('../img/svg/link.svg');
}

.u-icon--date {
	background-image: url('../img/date.png');
}

.u-icon--bookmark {
	background-image: url('../img/svg/bookmark.svg');
}




.u-close-button {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('../img/svg/plus.svg') no-repeat center;
	background-size: contain;
	transform: rotate(45deg);
	cursor: pointer;
	z-index: 10;
	opacity: 0.7;
	transition: opacity 0.2s ease;
	&:hover {
		opacity: 1;
	}
}

/* VISIBILITY TOGGLES */
.u-only-desktop {
	display: none;
	@include media($desktopNav) {display: block;}
}

.u-not-desktop {
	display: inline-block;
	@include media($desktopNav) {display: none;}
}




/* IN CONTENT LAYOUT */
.u-layout {
	overflow: hidden;
	margin-bottom: 2em;
	margin-left: em(-10);
	margin-right: em(-10);

	>div {
		padding-left: em(10);
		padding-right: em(10);
		margin-bottom: em(20);
	}

	>.u-1_2:nth-of-type(2n+3) {
		clear: left;
	}


	@include media($smallBreakpoint) {
		>div {
			margin-bottom: 0;
		}
	}

	@include media($largeNav) {
		>div {
			padding-left: em(20);
			padding-right: em(20);
		}
	}
}

.u-layout--flex {
	display: flex;
	flex-wrap: wrap;

	>div {
		display: flex;
		margin-bottom: em(15);
	}
}





/* SIZES */
.u-no-side-offset {
	margin-left: -3px;
	margin-right: -3px;
	overflow: hidden;
}

.u-size-small-outset {
	padding: 3px;
}

.u-size-outset {
	padding: 10px;
}

.u-primary-content--work {
	img {
		margin-bottom: em(20);
	}
}

.u-secondary-content {
	font-family: $font-tertiary;
	font-size: 14px;
	letter-spacing: 0.3px;
	p {
		margin-bottom: em(26);
	}
}

.u-1_1,
.u-1_2,
.u-1_3,
.u-2_3,
.u-1_4,
.u-1_8,
.u-3_4,
.u-1_4--l,
.u-primary-content,
.u-secondary-content {
	float: left;
	box-sizing: border-box;
	width: 100%;
	@extend .u-size-small-outset;
}

.u-1_8 {width: 50%;}

@include media( $tinyBreakpoint ) {
	.u-1_4,.u-1_4--l {width: 50%;}
	.u-size-large {width: 100%;}
}

@include media( $smallBreakpoint ) {
	.u-3_4 {width: 75%;}
	.u-1_2 {width: 50%;}
	.u-1_3 {width: 33%;}
	.u-2_3 {width: 66%;}
	.u-1_4--l {width: 33%;}
	.u-1_4 {width: 25%;}
	.u-1_8 {width: 25%;}
}

@include media( $mediumBreakpoint ) {
	.u-primary-content {
		width: 66%;
		width: calc(100% - 270px);
		padding-right: em(40);
	}

	.u-secondary-content {
		font-weight: 300;
		width: 33%;
		width: calc(270px);
	}

	/* Only makes secondary content wider */
	.u-layout-a {
		.u-primary-content {
			width: calc(100% - 350px);	
			font-weight: 300;	
		}

		.u-secondary-content {
			width: calc(350px);		
		}
	}

	.u-1_4--l {width: 25%;}

}

@include media( $desktopNav ) {
	.u-1_8 {width: 12.5%;}
}
