@import "reset";
@import "mixins";
@import "settings";

body {
	font-family: $font-primary;
	background: $color-primary;
	transition: initial;
	color: $color-secondary;
	padding-top: 50px; /* offset nav */
	@include media($desktopNav) {
		padding-top: 95px; /* offset nav */
	}
}

::selection {
	background-color: RGBA($color-tertiary,0.7);
	color: $color-secondary;
}

a {
	text-decoration: none;
	color: $color-tertiary;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-secondary;
	text-transform: uppercase;
	letter-spacing: 0.01px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
} 

@include media($mediumBreakpoint) {
	h1,h2,h3,h4,h5,h6 {
		letter-spacing: 0.5px;
	}
}

h1 {
	font-size: 48px;
	font-size: rem(48);
}

h2 {
	font-size: 32px;
	font-size: rem(32);
	@include media($largeScreen) {
		font-size: 36px;
		font-size: rem(36);		
	}
}

h3 {
	font-size: 24px;
	font-size: rem(24);
	@include media($largeScreen) {
		font-size: 27px;
		font-size: rem(27);		
	}	
}

h4 {
	font-size: 19px;
	font-size: rem(19);
}

h5 {
	font-size: 15px;
	font-size: rem(15);
	margin: 0.5em 0;
}

img,iframe,video {
	max-width: 100%;
	height: auto;
}
img,svg {
	-ms-interpolation-mode: bicubic;
	shape-rendering: auto;
	image-rendering: optimizeQuality;
}

svg * {
	-ms-interpolation-mode: bicubic;
	shape-rendering: auto;
	image-rendering: optimizeQuality;
}

input {
	box-sizing: border-box;
	border: 1px solid transparent;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: rgba(255,255,255,0.2);
	border-radius: 0;
	&:focus {
		outline: none;
		border-color: $color-tertiary;
	}
}

button {
	position: relative;
	box-sizing: border-box;
	display: block;
	padding: em(15) em(25);
	color: $color-secondary;
	text-transform: uppercase;
	border: 2px solid $color-secondary;
	font-size: em(14);
	letter-spacing: 0.7px;
	background-color: transparent;
	z-index: 2;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 0;
		background-color: $color-tertiary;
		transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
		z-index: -1;
	}

	&:hover:before {
		left: 0;
		width: 100%;
	}
}

blockquote {
	margin: 0 0 em(45); /* when margin needs to be changed add classes to services quotes */
	font-weight: 400;
	font-style: italic;
	line-height: 1.5;
	letter-spacing: 0.6px;
	cite {
		display: block;
		margin-top: em(15);
		letter-spacing: 0;
		font-style: normal;
		font-size: em(14);
	}

	span {
		display: inline-block;
		&:before {
			content: '';
			display: block;
			width: 25px;
			height: 25px;
			background: url('../img/lquote.png') no-repeat center;
			background-size: 25px;
			
		}

		&:after {
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			margin-left: em(7);
			background: url('../img/rquote.png') no-repeat center;
			background-size: 15px;			
		}
	}
}

@import "slick";

@import "utilities";


@import "components";


@import "objects";

@import "prettyPhoto";

/* Feature requests */
@import "progressive";